<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chris' Tech Blog 14</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>

    <body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Chris' Tech Blog 14</a>
        </h1>
        <nav>
              {{#if loggedIn}}
                <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style logout">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
    </header>
    <main>
        {{{ body }}}
    </main>

    </div>
        </body>

</html>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}