section class="new-post-section">
            <a href="/dashboard/new/"><button id="create-post" class="button is-primary is-pulled-right">create post</button></a>

</section>

{{#if posts.length}}
<section>
    <h2>Your Dashboard</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}


<script src="/javascript/add-post.js"></script>