* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover {
    color: #333;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

textarea, input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid #555;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 1.5em;
}

main {
    flex: 1;
    padding: 2% 4%;
}

.btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

.delete-post-btn {
    background-color: #f00;
}

.delete-post-btn:hover {
    background-color: #f55;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.post .title span {
    font-weight: bold;
}

edit-link {
    color: #333;
    font-weight: bold;
    display: block;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.comment:nth-child(odd) {
    background-color: #eee;
}

.comment .meta {
    font-size: 0.8em;
    color: #666;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    justify-content: center;
    display: flex;
}